body{
    padding: 0px;
    margin: 0px;
}

#footeroffer{
    height: 300px;
    width: 100vw;
    
    margin-top: 90px;
    
}





#Pabble-data{
    
    
    margin-top: 130px;
   }
   

   #Pabble{
    height: 300px;
    width: 100vw;
   
}