body{
    padding: 0px;
    margin: 0px;
}

#footeroffer{
    height: 300px;
    width: 100vw;
    background-color: cadetblue;
    margin-top: 90px;
    
}

#Pabble{
    height: 300px;
    width: 100vw;
}
