#homepage{
   
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#images{
    height: 380px;
    width: 95vw;
    
}
#two{
    width: 95vw;
    height: 380px;
}

/* combo */

#combo{

    display: flex;
    justify-content: space-around;
    
}

.Card{
    height: 650px;
    width: 320px;
    background-color:rgba(246, 251, 245, 1);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 10px 5px 10px 5px  #c6c3c3
}

#card-img{
    height: 280px;
    width: 260px;
    margin-top: 45px;
    
    
}

#Card-prop{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    
}

#oldprice{
    text-decoration: line-through;
}

#price{
    color: rgb(67, 103, 32);
    font-size: 2rem;
    font-weight: 900;
}

#button-card{
    margin-bottom: 90px;
    height: 50px;
    width: 280px;
    background-color: rgba(72, 116, 44, 1);
    color: aliceblue;
    font-size: 1rem;
    
}
