#foooterHead {
  margin-top: 39px;
  background-color: #d0ffdb;
  height: 298px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.boximg{
  height: 70px;
  width: 70px;
}

#Footer-boxone {
  width: 337px;
  height: 193px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxcommon {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#Footer-boxtwo {
  width: 352px;
  height: 193px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Footer-boxthree {
  width: 547px;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

